<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link media="all" rel="stylesheet" href="{{ path '/bundle.css' }}">
    <title>Preview Layout</title>
</head>
<body>



<!-- Vue -->
<div id="root">
    {{{ yield }}}
</div>

<!-- Scripts -->
<script src="/bayer-bolgard/public/main.js"></script>
</body>
</html>